body {
    font-family: "Rubik", sans-serif;

    margin: 0;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 20% 1fr;
    overflow: hidden;
}

header {
    grid-column: 1 / 3;
    background: #5B2D8B;
}

.sidebar {
    grid-row: 2;
    height: 100vh;

    background: #E8DDF5;
}

main {
    background: #FFF3B0;
}